<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bala</title>
	
	<style>
		
		table{
			border: 1px solid black;
			border-collapse: collapse;
			margin: auto;
			margin-top: 10%;
			width: 60%;
			
			
		}
		th,td,tr{
					border: 1px solid black;
					text-align: left;
					padding:15px;
					
				}
		th{
			background-color: antiquewhite;
		}		
		
		
	</style>
</head>
<body>
	
	<a th:href="@{/student/new}">add student</a>
	 
    <table>
        <tr>
			<th>Id</th>
			<th>name</th>
            <th>last name</th>
            <th>email</th>
            <th>action</th>
        </tr>
        
  <tr th:each ="student: ${stud}">
	
	        <td th:text = "${student.student_id}"></td>
			<td th:text = "${student.name}"></td>
			<td th:text = "${student.student_last_name}"></td>
			<td th:text = "${student.student_email}"></td>
			<td>
					<a th:href="@{/edit/{Id}(Id=${student.student_id})}">update</a>
					<a th:href="@{/delete/{Id}(Id=${student.student_id})}">delete</a>
			</td>
			
 </tr>
        
    </table>
    


</body>
</html>